<% if (user_signed_in? && (can? :update, catalog)) or (catalog.is_active and catalog.count_active_products > 0) %>
    <li
    class="
    <% if @catalog && @catalog.id == catalog.id %>
        selected
    <% end %>
    <% if !catalog.is_active %>
        not-active
    <% end %>
        ">
        <%= link_to catalog do %>
          <%=catalog.title%>
          <i id="group-icon-<%=catalog.id%>"></i>
        <% end %>
        <% if (@subcatalogs && (@subcatalogs.include? catalog)) || (@catalog && @catalog.id == catalog.id) %>
            <ul>
                  <%  Catalog.where({:parent_id=>catalog.id}).order('title ASC').each do |cat| %>
                      <%=render :template => "catalogs/left-menu-item", :locals => {:catalog => cat} %>
                  <% end %>
            </ul>
        <% end %>
    </li>
<% end %>