<h3>Новый заказ на сайте №<%= @order.id %></h3>

<table class="table table-striped table-hover">
  <tr>
    <th colspan="2">
      Количество
    </th>
    <th>
      Описание
    </th>
  </tr>
  <%= render @order.line_items %>
</table>

<%= link_to 'Все заказы', orders_path %>