<div class="modal-body">

  <table class="table table-striped table-product">
    <thead>
    <tr>
      <th></th>
      <th>Артикул</th>
      <th>Наименование</th>
      <th>Количество</th>
      <th>Цена</th>
      <th>Сумма</th>
      <th></th>
    </tr>
    </thead>

    <tbody>

    <%= render(cart_order.line_items) %>

    <script>
        changeCountCart(<%=cart_order.line_items.size%>);
    </script>

    </tbody>
  </table>

  <div id="total_bascet_order" class="right">Итого: <span class="price"><%= number_to_currency(cart_order.total_price, unit: '',  separator: ",", delimiter: " ", precision: 0)%><span class="ruble">a</span></span></div>

</div>

<script>
    if ($('#cart tr').length == 1) {
        $('#cart').show();
    }
</script>