<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Вы попросили ссылку для изменения пароля. Вот она:</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Если вы этого не делали, просто проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен, пока вы не перейдете по ссылке выше и не создадите новый</p>
